{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <div class="header"><h1>Recipe Book</h1>
    {% block login %}
    {% if user.is_authenticated %}
        <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="logout">Logout</button>
        </form>
    {% endif %}
    {% endblock %}
    </div>
</head>
<body>
<article>
    <div class="panel">
        <h2>{% block title %}{% endblock %}</h2>
        <p>{% block intro %}{% endblock %}</p>
    </div>
    <div class="panel">
        {% block content %}
        {% endblock %}
    </div>
    {% block nav %}<div></div>{% endblock %}
</article>
</body>
</html>