{% extends "navbar.html" %}

{% block title %}Recipe List{% endblock %}

{% block intro %}
    This is the main page. Click on the links to go to each <strong>recipe.</strong>
{% endblock %}

{% block content %}
    <h3>Recipes:</h3>
    <ul>
        {% for recipe in recipes %}
        <li> <a href="{{ recipe.get_absolute_url }}"> {{ recipe }} </a> </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block navbar %}
<div class="nav-item"> 
    <ul class="nav-list">
        <li> Homepage </li>
        <li> Recipe List </li>
        <li> Create Recipe </li>
        <li> Profile </li>
    </ul>
</div>
{% endblock %}


