{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<h1>Recipe Book</h1>
<div>
{% with ingredients|last as last %}
<h2> Recipe {{ recipe.id }}: <em> {{ recipe.name }} </em></h2>
</div>
<div>
    <h3><em>Ingredients</em> </h3>
    <p>The following ingredients are for <em> {{ last.quantity }} </em> of {{ last.name }}:</p>
    <ul>
        {% for i in ingredients|slice:"0:-1"%}
        <li> {{ i.name }} - {{ i.quantity}}  </li>
        {% endfor %}
    </ul>
{% endwith %}
</div>
<div>
    <p>Navigation:
    <a href="/"> Recipe List</a>
    </p>
</div>
</body>
</html>
