{% extends "navbar.html" %}

{% block title %}{{ recipe.name }}{% endblock %}

{% block intro %}
    Made by <em>{{ recipe.author }}</em> on <strong>{{ recipe.createdOn|date:"M j" }}, {{ recipe.createdOn|date:"Y" }}.</strong>
{% endblock %}

{% block content %}
    <h3>Ingredients</h3>
    <ul>
        {% for ingredient in recipe.ingredients.all %}
        <li> <em>{{ ingredient.ingredient.name }}</em> : {{ ingredient.quantity }} </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block navbar %}
<div class="nav-item"> 
    <ul class="nav-list">
    <li> Homepage </li>
    <li> <a href="/"> Recipe List</a> </li>
    <li> Create Recipe </li>
    <li> Profile </li>
    </ul>
</div>
{% endblock %}
