{% extends "navbar.html" %}

{% block title %} Add Items {% endblock %}

{% block intro %} 
    <strong>Add recipes</strong> and assign ingredients to them. 
    You can also <strong>make new ingredients</strong> entirely!
{% endblock %}

{% block content %} 
<div class="panel">
    <form method="POST">
        {% csrf_token %}
        {% for form in forms %}
        {{ form }} 
        <input type="submit" value="Submit">  
        {% endfor %}
        <!-- TODO - split into separate submit buttons -->
    </form>
</div>
{% endblock %}

{% block navbar %}
<div class="nav-item"> 
    <ul class="nav-list">
        <li> <a href="/"> Back to List </a> </li>
        <li> Profile </li>
    </ul>
</div>
{% endblock %}