{% extends "navbar.html" %}

{% block title %} Add Items {% endblock %}

{% block intro %} 
    <em>{{ msg }}</em>
{% endblock %}

{% block content %} 
{% for form in forms %}
<div class="panel">
<h4>{{ form.heading_text }}</h4>
    <form method="POST" class="{{ form.class_name }}">
        {% csrf_token %}
        {{ form }} 
        <input type="submit" value="Submit">  
    </form>
</div>
{% endfor %}

{% endblock %}

{% block navbar %}
<div class="nav-item"> 
    <ul class="nav-list">
        <li> <a href="/"> Back to List </a> </li>
        <li> Profile </li>
    </ul>
</div>
{% endblock %}