{% extends "head.html" %}

<!-- This serves as the foundation of the main pages, such as the detailed or list view. -->

{% block head %}
<div class="header"><h1>Recipe Book</h1>
    <!-- The login block is overriden only in the login page. -->
    {% block login %}
        {% if user.is_authenticated %}
            <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="logout">Logout</button>
            </form>
        {% endif %}
    {% endblock %}
</div>
{% endblock %}

{% block body %}
<body>
<article>
    <div class="panel-container">
        <div class="panel top">
            <h2>{% block title %}{% endblock %}</h2>
            <p>{% block intro %}{% endblock %}</p>
        </div>
        <!-- Dud blocks for content; overriden by view templates. -->
        {% block content %}{% endblock %}
        {% block images %}{% endblock %}
    </div>
    <!-- A dud block to be overriden by the navbar template. -->
    {% block footer %}{% endblock %} 
</article>
</body>
{% endblock %}