{% extends "navbar.html" %}

{% block title %}Recipe List{% endblock %}

{% block intro %}
    Take a look at all the different, tasty recipes! Click on the <strong>links</strong> to go to each recipe.
{% endblock %}

{% block content %}
<div class="panel">
    <h3>Recipes:</h3>
    <ul>
        {% for recipe in recipes %}
        <li> <a href="{{ recipe.get_absolute_url }}"> {{ recipe }} </a> </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block navbar %}
<div class="nav-item"> 
    <ul class="nav-list">
        <li> <a href="/recipe/add"> Add Items </a> </li>
        <li> Profile </li>
    </ul>
</div>
{% endblock %}


