{% extends "navbar.html" %}

{% block title %}{{ recipe.name }}{% endblock %}

{% block intro %}
    {% if recipe.author.profile %}
        Made by <em>{{ recipe.author.profile.name }}</em> 
    {% else %}
        Made by <em>{{ recipe.author }}</em> 
    {% endif %}
    on <strong>{{ recipe.createdOn|date:"M j" }}, {{ recipe.createdOn|date:"Y" }}.</strong>
{% endblock %}

{% block content %}
    <div class="panel text">
    <h3>Ingredients</h3>
    <ul>
        {% for ingredient in recipe.ingredients.all %}
        <li> <em>{{ ingredient.ingredient.name }}</em> : {{ ingredient.quantity }} </li>
        {% endfor %}
    </ul>
    </div>
{% endblock %}

{% block images %}
    {% for img in images %}
    <div class="panel image">
        <img src="{{ img.image.url }}" alt="{{ img.description }}">
    </div>
    {% endfor %}
{% endblock %}

{% block navbar %}
<div class="nav-item"> 
    <ul class="nav-list">
        <li> <a href="/"> Recipe List </a> </li>
        <li> <a href="{{ addImage.add_image_url }}"> Add Image </a> </li>
        <li> <a href="/admin"> Admin </a> </li>
    </ul>
</div>
{% endblock %}
