:root {
    font-family: "Segoe UI", "SF Pro Text", "Inter", "Cantarell", "Ubuntu Sans", Helvetica, Arial, sans-serif;
    background-image: var(--cream-bg);
    --text-black: #363432;
    --text-white: rgb(255, 255, 255);
    --link-color: rgb(0, 116, 194);
    --link-color-visited: rgb(195, 17, 157);
    --cream-bg: radial-gradient(at 50% 150%, rgb(248, 244, 238), rgb(221, 209, 193) 150%);
    --cream-panel: rgb(255, 251, 243);
    --white-header: rgb(255, 253, 251);
    --fade-header: rgb(220, 216, 211);
    --fade-header-title: rgb(236, 234, 233);
    --fade-panel: rgb(206, 196, 186);
    --shadow-header: #1818185b;
    --shadow-panel: #18181833;
}

body {
    color: var(--text-black);
    margin: 0;
    padding: 0;
    height: 100vh;
}

article {
    display: flex;
    flex-direction: column;
    padding: 40px;
}
div.panel {
    background-color: var(--cream-panel);
    border-radius: 20px;
    box-shadow: inset 0 -2px 6px -1px var(--fade-panel), 0 6px 18px -6px var(--shadow-panel);
    margin-bottom: 12px;
    padding: 16px 32px;
}
div.header {
    background-color:  var(--white-header);
    border-radius: 0;
    box-shadow: inset 0 -1px 8px 0 var(--fade-header), 0 -2px 8px 0 var(--shadow-header);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 16px 16px 17px 16px;
}
em {
    font-style: normal;
    font-weight: 500;
    color: rgb(179, 93, 78);
}

h1 {
    color: rgb(179, 93, 78);
    font-size: 1.25em;
    margin-block: 0 2px;
    box-shadow: inset 0 0px 6px 1px  var(--fade-header-title);
    max-width: fit-content;
    padding: 6px 16px 8px;
    border-radius: 12px;
}
h2, h3 {
    color: rgb(117, 84, 54);
    font-weight: 500;
    margin-block: 16px 4px;
    font-size: 1.75em;
}
h3 {
    font-size: 1.125em;
    font-weight: 700;
}

ul li {
    color: rgb(112, 80, 38);
    line-height: 1.5;
}

a {
    color: var(--link-color);
    font-weight: 500;
    text-decoration: none;
}
a:visited {
    color: var(--link-color-visited);
}

button {
    background-image: radial-gradient(at 50% 175%, rgb(139, 212, 141) 25%, rgb(69, 128, 72));
    border: none;
    border-radius: 12px;
    box-shadow: 0 3px 18px -3px  rgb(139, 212, 141), inset 0 0px 2px 0px  var(--white-header), inset 0 0px 6px 1px  var(--shadow-panel);
    color: var(--text-white);
    font-weight: 600;
    letter-spacing: 0.5pt;
    margin-inline-end: 28px;
    padding: 9px 18px;
    text-shadow: 0px 0.5px 3px var(--shadow-panel);
}